<!doctype html>
<html lang="{{ site.lang }}">
<head>
{% include "partials/head.njk" %}
</head>
<body>
{% include "partials/header.njk" %}

{{ content | safe }}

{% include "partials/footer.njk" %}
</body>
</html>
